<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">


    <div class="col-sm-1">
        <a  routerLink="/main" routerLinkActive="active" class="navbar-brand">Dictionary</a>
    </div>
    
    <div class="col-sm-10 d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="nav-link active" routerLink="/save" routerLinkActive="active">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/search" routerLinkActive="active">Search</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active" routerLink="/export" routerLinkActive="active">Export</a>
                </li>               
            </ul>
        </div>
        <div class="col-sm-1"></div>
    </div>
        
 
</nav>