<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
    <div class="container-fluid">

        <a href="#" class="navbar-brand">Dictionary</a>
        
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">All words</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active" href="#">Export</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" id="manageDropdown">User</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Placeholder</a></li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>
            
        </div> 
</nav>