<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="col-3">
            <a href="#" class="navbar-brand">Dictionary</a>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <ul class="navbar-nav">
                <li class="navbar-nav">
                    <a class="nav-link active" href="#">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Search</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active" href="#">Export</a>
                </li>
            </ul>
        </div>
        <div class="col-3"></div>

    </div>
</nav>