<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Pot-Player Dictionary</h1>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary"  (click)="saveANewWord()">SAVE</button>
    </div>
</div>
 -->

<div class="row mt-4 saved-content d-flex align-items-center justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <h3 *ngIf="translatedWord !== '-'">NEW WORD WAS SAVED!</h3>
        <h3 *ngIf="translatedWord === '-'">SAVING . . .</h3>
    </div>
    <div class="col-auto">
        <h5>TITLE:</h5>
        <h5>ENGLISH:</h5>
        <h5>HUNGARIAN:</h5>
        <h5>DATE:</h5>
    </div>
    <div class="col-auto">
        <h5>{{title}}</h5>
        <h5>{{word}}</h5>
        <h5>{{translatedWord}}</h5>
        <h5>{{date}}</h5>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-success table-hover table-borderless">
            <thead>
                <th class="myTable">English</th>
                <th class="myTable">Hungarian</th>
                <th class="myTable">Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let wordRow of wordsByTitle">
                    <td class="myTable">{{wordRow.word1}}</td>
                    <td class="myTable">{{wordRow.word2}}</td>
                    <td class="myTable">{{wordRow.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>