<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Rock Paper Scissors</h1>
    </div>
</div>

<div class="row pt-4">
    <div class="col-12 d-flex justify-content-center">
        <div>
            <h2>Your Choice: <span class="user-choice">{{userChoice}}</span></h2>
            <h2>Computer Choice: <span class="computer-choice">{{computerChoice}}</span></h2>
            <h2>Result:
                <span class="result">{{result}}</span>
                <span *ngIf="wait">
                    <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                </span>
            </h2>
            <div class="d-grid gap-4 d-md-flex pt-4">
                <button class="btn btn-outline-info" id="rock" (click)="getClickedkdBtn($event)">rock</button>
                <button class="btn btn-outline-info" id="paper" (click)="getClickedkdBtn($event)">paper</button>
                <button class="btn btn-outline-info" id="scissors" (click)="getClickedkdBtn($event)">scissors</button>
            </div>
        </div>
    </div>
</div>