<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Save</h1>
    </div>
</div>

<form class="row d-flex justify-content-center pt-3">
    <div class="col-auto d-flex flex-column align-items-center">
        <label for="title" class="w-100">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title" name="title" required>

        <label for="title" class="w-100 mt-3">English</label>
        <input type="text" class="form-control" id="title" placeholder="english" name="title" required>
        <button class="btn btn-dark mt-3 px-4 ">Save</button>
    </div>
</form>