<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Collections</h1>
    </div>
</div>

<div class="row" *ngIf="!errorResponse">
    <div class="flex-container">
        <div *ngFor="let set of allSetUppercase; let id = index" class="item">
            <button class="btn" (click)="showWordInSelectedTitle(id, set)">
                <div class="card m-2" [ngClass]="id==clickedBtnId ?'selectedBtn':'notSelectedBtnBtn'">
                    <div class="card-body text-center">
                        {{set}}
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>
<div class="error" *ngIf="errorResponse">
    <h5>{{errorResponse}}</h5>
</div>
<div class="row mt-4">
    <div class="col-12">
        <table class="table table-dark table-hover table-borderless">
            <thead>
                <th class="myTable w-25">English</th>
                <th class="myTable w-25">Hungarian</th>
                <th class="myTable w-25">Date</th>
                <th class="myTable w-25">Modify</th>
            </thead>
            <tbody>
                <tr *ngFor="let wordRow of wordsByTitle; let id = index">

                    <td class="myTable" *ngIf="wordRow.id !== selectedRow.id || !updateBtnWasPressed">{{wordRow.word1}}
                    </td>
                    <td class="myTable" *ngIf="wordRow.id === selectedRow.id && updateBtnWasPressed"><input type="text"
                            [(ngModel)]="selectedRow.word1"></td>



                    <td class="myTable" *ngIf="wordRow.id !== selectedRow.id || !updateBtnWasPressed">{{wordRow.word2}}
                    </td>
                    <td class="myTable" *ngIf="wordRow.id === selectedRow.id&& updateBtnWasPressed"><input type="text"
                            [(ngModel)]="selectedRow.word2"></td>



                    <td class="myTable">{{wordRow.date}}</td>


                    <td class="myTable">
                        <div class="icons">
                            <button class="btn icon-btn-update" *ngIf="wordRow.id !== selectedRow.id || !updateBtnWasPressed" [disabled]="updateBtnWasPressed"
                                (click)="btnUpdate(wordRow)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <button class="btn icon-btn-update" *ngIf="wordRow.id === selectedRow.id && updateBtnWasPressed"
                                (click)="btnUpdate(wordRow)">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>

                            <button class="btn icon-btn-delete"   (click)="btnDelete(wordRow)" [disabled]="updateBtnWasPressed">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>