.card {
  box-shadow: 1px 0px 5px 2px rgb(139, 139, 139);
  min-width: 10rem; 
  font-weight: 500;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn:focus,
.btn:active {
  outline: none ;
  box-shadow: none;
}
.myTable { 
  background-color: rgb(46, 45, 45);
  color: white;
  font-size: larger;
  text-align: center;
}

.error {
  padding: 1rem;
  box-shadow: 1px 0px 5px 2px rgb(204, 85, 85);
}

.selectedBtn {
  background-color: gold;
}
.notSelectedBtnBtn {
  background-color: wheat;
}

.icons i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem; 
}
.icon-btn-update{
    color: rgb(61, 180, 120);

}

.icon-btn-delete{
    color: rgb(236, 95, 95)
}