<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Search</h1>
    </div>
</div>

<form class="row d-flex justify-content-center pt-3">
    <div class="col-auto">
        <input type="text" class="form-control" id="search" placeholder="word" name="searchingThisWord"
            [(ngModel)]="searchingThisWord">
    </div>
    <div class="col-auto">
        <button class="btn btn-dark mb-2" (click)="search()">Search</button>
    </div>
</form>


<div class="row mt-4">
    <div class="col-12 d-flex justify-content-center search-result" *ngIf="searchResult">
        <div class="col-auto me-3">
            <h5>TITLE:</h5>
            <h5>ENGLISH:</h5>
            <h5>HUNGARIAN:</h5>
            <h5>SAVED AT:</h5>
        </div>
        <div class="col-auto">
            <h5>{{searchResult.title}}</h5>
            <h5>{{searchResult.word1}}</h5>
            <h5>{{searchResult.word2}}</h5>
            <h5>{{searchResult.date}} </h5>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center error" *ngIf="errorResponse">
        <div class="col-auto me-3">
            <h5>{{errorResponse}}</h5>
            
        </div>

</div>