<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="pt-2">Search</h1>
    </div>
</div>

<form class="row d-flex justify-content-center pt-3">
    <div class="col-auto">
        <input type="text" class="form-control" id="search" placeholder="word" name="searchingThisWord"
            [(ngModel)]="searchingThisWord">
    </div>
    <div class="col-auto">
        <button class="btn btn-dark mb-2" (click)="search()">Search</button>
    </div>
</form>


<div class="row pt-3">
    <div class="col-12 d-flex justify-content-center">
        <div class="search-result" *ngIf="searchResult">
            <h4>TITLE: {{searchResult.title}}</h4>
            <h4>ENGLISH: {{searchResult.word1}}</h4>
            <h4>HUNGARIAN: {{searchResult.word2}}</h4>
            <h4>SAVED AT: {{searchResult.date}} </h4>
        </div>

    </div>
</div>